body {
    font-family: Arial, sans-serif;
}

.cotizacion {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    display: inline-block;
    text-align: left;
    vertical-align: top; /* Alinea la parte superior de las cotizaciones */
}

h1 {
    text-align: center;
}
